@using Microsoft.AspNet.Identity

<a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
  <span class="clear">
    <span class="block m-t-xs">
      @if (Request.IsAuthenticated)
      {
        <strong class="font-bold">@User.Identity.GetUserName()</strong>
      }
      else
      {
        <strong class="font-bold">请登录</strong>
      }

    </span>
    @if (Request.IsAuthenticated)
    {
      <span class="text-muted text-xs block">设置<b class="caret"></b></span>
    }
  </span>
</a>
@if (Request.IsAuthenticated)
{
  <ul class="dropdown-menu animated fadeInRight m-t-xs">
    <li>
      <a href="contacts.html">账号设置</a>
    </li>
    <li class="divider"></li>
    <li>
      <a href="login.html">退出</a>
    </li>
  </ul>
}