
@{
  ViewBag.Title = "Motion | Add";
}

@model List<Fit.DTO.MuscleGroupDTO>
<link href="~/Content/plugins/blueimp/css/blueimp-gallery.min.css" rel="stylesheet">
<div class="row">
  <div class="col-sm-12">
    <div class="ibox float-e-margins">
      <div class="ibox-content form-horizontal">
        <div class="form-group">
          <label class="col-sm-2 control-label">动作类型</label>
          <div class="col-sm-6">
            <div class="i-checks"><label> <input type="radio" id="radioPartial" value="partial" name="motionType">&nbsp;&nbsp;局部训练</label></div>
            <div class="i-checks"><label> <input type="radio" id="radioCombine" value="combine" name="motionType">&nbsp;&nbsp;综合训练</label></div>
          </div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="form-group">
          <div id="partialDiv">
            <div class="col-sm-4">
              <select class="form-control m-b" name="muscleGroup" onchange="muscleGroupChanged()">
                @{
                  foreach (var item in Model)
                  {
                <option value="@item.Id">@item.Name</option>
                  }
                }
              </select>
            </div>
            <div class="col-sm-4">
              <select class="form-control m-b" name="muscle" onchange="muscleChanged()">
                <option value="0">请选择肌肉...</option>
              </select>
            </div>
          </div>
          <div class="col-sm-4">
            <select class="form-control m-b" name="motion" onchange="motionChanged()">
              <option value="0">请选择锻炼项目...</option>
            </select>
          </div>
        </div>

        <form class="m-t" role="form" id="formAdd" name="1" action="a">
          <div class="row">
            <div class="col-sm-3">
              <select class="form-control m-b" name="motion" onchange="motionChanged()">
                <option value="0">请选择锻炼项目...</option>
              </select>
            </div>
            <div class="col-sm-3">
              <select class="form-control m-b" name="motion" onchange="motionChanged()">
                <option value="0">请选择组数...</option>
              </select>
            </div>
            <div class="col-sm-3">
              <select class="form-control m-b" name="motion" onchange="motionChanged()">
                <option value="0">请选择次数...</option>
              </select>
            </div>
            <div class="col-sm-3">
              <input id="btnSave" type="submit" class="btn btn-primary block full-width m-b" value="保存">
            </div>
          </div>
        </form>
        <form class="m-t" role="form" id="formAdd1" name="11" action="b">
          <div class="row">
            <div class="col-sm-3">
              <select class="form-control m-b" name="motion" onchange="motionChanged()">
                <option value="0">请选择锻炼项目...</option>
              </select>
            </div>
            <div class="col-sm-3">
              <select class="form-control m-b" name="motion" onchange="motionChanged()">
                <option value="0">请选择组数...</option>
              </select>
            </div>
            <div class="col-sm-3">
              <select class="form-control m-b" name="motion" onchange="motionChanged()">
                <option value="1">请选择次数...</option>
              </select>
            </div>
            <div class="col-sm-3">
              <input id="btnSave1" type="submit" class="btn btn-primary block full-width m-b" value="保存">
            </div>
          </div>
        </form>
        <div id="motionDetail">
          <div id="partialDash" class="hr-line-dashed"></div>
          <div class="form-group">
            <label>名称</label>
            <div id="name"></div>
          </div>
          <div class="form-group">
            <label>描述</label>
            <div id="description"></div>
          </div>
          <div class="hr-line-dashed"></div>
          <div class="form-group">
            <label>动作介绍</label>
            <div id="detail"></div>
            <br />
            <div id="imgDiv1">
            </div>
          </div>
          <div class="hr-line-dashed"></div>
          <div class="form-group">
            <label>动作要点</label>
            <div id="mainpoint"></div>
            <br />
            <div id="imgDiv2">
            </div>
          </div>
          <div class="hr-line-dashed"></div>
          <div class="form-group">
            <label>注意事项</label>
            <div id="attention"></div>
            <br />
            <div id="imgDiv3">
            </div>
          </div>
          <!-- The Gallery as lightbox dialog, should be a child element of the document body -->
          <div id="blueimp-gallery" class="blueimp-gallery">
            <div class="slides"></div>
            <h3 class="title"></h3>
            <a class="prev">‹</a>
            <a class="next">›</a>
            <a class="close">×</a>
            <a class="play-pause"></a>
            <ol class="indicator"></ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

@section FooterScript{
  <!-- blueimp gallery -->
  <script src="~/Scripts/plugins/blueimp/jquery.blueimp-gallery.min.js"></script>

  <script type="text/javascript" src="~/Scripts/template.js"></script>
  <script>

    $(document).ready(function () {
      $('.i-checks').iCheck({
        checkboxClass: 'icheckbox_square-green',
        radioClass: 'iradio_square-green',
      });
      $("[name='motionType']").on("ifChecked", function (e) {
        var motionType = $(e.target).val();
        onMotionTypeChanged(motionType);
      });
      $("#radioPartial").iCheck("check");
    });

    function onMotionTypeChanged(motionType) {
      if (motionType == 'partial') {
        $("#partialDiv").show();
        $("[name='muscle']").empty();
        $("[name='motion']").empty();
      } else if (motionType == 'combine') {
        $("#partialDiv").hide();
        loadMotionByMuscle(0);
      }
    };

    function muscleGroupChanged() {
      var muscleGroupId = $("[name='muscleGroup']").val();
      $.ajax({
        url: "/MotionsInPlan/LoadMuscle",
        type: "post", dataType: "json",
        data: { id: muscleGroupId },
        success: loadMuscles,
        error: function () {
          alert('加载肌肉列表时出错');
        }
      });
    };

    function loadMuscles(res) {
      if (res.status == "ok") {
        $("[name='muscle']").empty();
        for (var i = 0; i < res.data.length; i++) {
          var item = res.data[i];
          $(" <option value='" + item.id + "'>" + item.name + "</option>")
            .appendTo("[name='muscle']");
        }
      }
    };

    function loadMotionByMuscle(muscleId) {
      $.ajax({
        url: "/MotionsInPlan/LoadMotion",
        type: "post", dataType: "json",
        data: { id: muscleId },
        success: loadMotions,
        error: function () {
          alert('加载动作列表时出错');
        }
      });
    };

    function muscleChanged() {
      var muscleId = $("[name='muscle']").val();
      loadMotionByMuscle(muscleId);
    };

    function loadMotions(res) {
      if (res.status == "ok") {
        $("[name='motion']").empty();
        for (var i = 0; i < res.data.length; i++) {
          var item = res.data[i];
          $(" <option value='" + item.id + "'>" + item.name + "</option>")
            .appendTo("[name='motion']");
        }
      }
    };

    var motionId = 0;
    function motionChanged() {
      motionId = $("[name='motion']").val();
      $.ajax({
        url: "/MotionsInPlan/LoadMotionDetails",
        type: "post", dataType: "json",
        data: { id: motionId },
        success: loadMotionDetails,
        error: function () {
          alert('加载动作详情时出错');
        }
      });
    };

    function loadImages(type) {
      $.ajax({
        url: "/MotionsInPlan/GetImgUrls",
        type: "post", dataType: "json",
        data: { type: type, motionID: motionId },
        success: function (res) {
          var html = template("motionImg", { imgs: res.data });
          var id = "#imgDiv" + type;
          $(id).empty();
          $(id).append($(html));
        },
        error: function () {
          alert("加载数据失败");
        }
      });
    };

    function loadMotionDetails(res) {
      $("#name").text(res.data.name);
      $("#description").text(res.data.description);
      $("#detail").text(res.data.detail);
      $("#mainpoint").text(res.data.mainPoint);
      $("#attention").text(res.data.attention);
      loadImages(1);
      loadImages(2);
      loadImages(3);
    };
  </script>
  <script id="motionImg" type="text/html">
    {{each imgs as img}}
    <div class="file-box" style="width:160px;height:120px">
      <div class="file">
        <div class="image">
          <a href="{{img.url}}" data-gallery=""> <img alt="image" class="img-responsive" src="{{img.url}}"></a>
        </div>
      </div>
    </div>
    {{/each}}
  </script>
}
