
@{
  ViewBag.Title = "Chart";
}

<div class="row">
  <div class="col-lg-12">
    <div class="tabs-container">
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#tab-1">体重</a></li>
        <li class="" onclick="loadChart('UpperArm')"><a data-toggle="tab" href="#tab-2">上臂围</a></li>
        <li class="" onclick="loadChart('LowerArm')"><a data-toggle="tab" href="#tab-3">下臂围</a></li>
        <li class="" onclick="loadChart('Chest')"><a data-toggle="tab" href="#tab-4">胸围</a></li>
        <li class="" onclick="loadChart('Waist')"><a data-toggle="tab" href="#tab-5">腰围</a></li>
        <li class="" onclick="loadChart('Hip')"><a data-toggle="tab" href="#tab-6">臀围</a></li>
        <li class="" onclick="loadChart('UpperLeg')"><a data-toggle="tab" href="#tab-7">大腿围</a></li>
        <li class="" onclick="loadChart('LowerLeg')"><a data-toggle="tab" href="#tab-8">小腿围</a></li>
      </ul>
      <div class="tab-content">
        <div id="tab-1" class="tab-pane active">
          <div class="panel-body">
            <div class="ibox-content">
              <div class="flot-chart">
                <div class="flot-chart-content" id="chartWeight"></div>
              </div>
            </div>
          </div>
        </div>
        <div id="tab-2" class="tab-pane">
          <div class="panel-body">
            <div class="ibox-content">
              <div class="flot-chart">
                <div class="flot-chart-content" id="chartUpperArm"></div>
              </div>
            </div>
          </div>
        </div>
        <div id="tab-3" class="tab-pane">
          <div class="panel-body">
            <div class="ibox-content">
              <div class="flot-chart">
                <div class="flot-chart-content" id="chartLowerArm"></div>
              </div>
            </div>
          </div>
        </div>
        <div id="tab-4" class="tab-pane">
          <div class="panel-body">
            <div class="ibox-content">
              <div class="flot-chart">
                <div class="flot-chart-content" id="chartChest"></div>
              </div>
            </div>
          </div>
        </div>
        <div id="tab-5" class="tab-pane">
          <div class="panel-body">
            <div class="ibox-content">
              <div class="flot-chart">
                <div class="flot-chart-content" id="chartWaist"></div>
              </div>
            </div>
          </div>
        </div>
        <div id="tab-6" class="tab-pane">
          <div class="panel-body">
            <div class="ibox-content">
              <div class="flot-chart">
                <div class="flot-chart-content" id="chartHip"></div>
              </div>
            </div>
          </div>
        </div>
        <div id="tab-7" class="tab-pane">
          <div class="panel-body">
            <div class="ibox-content">
              <div class="flot-chart">
                <div class="flot-chart-content" id="chartUpperLeg"></div>
              </div>
            </div>
          </div>
        </div>
        <div id="tab-8" class="tab-pane">
          <div class="panel-body">
            <div class="ibox-content">
              <div class="flot-chart">
                <div class="flot-chart-content" id="chartLowerLeg"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

@section FooterScript{
  <!-- Flot -->
  <script src="~/Scripts/plugins/flot/jquery.flot.js"></script>
  <script src="~/Scripts/plugins/flot/jquery.flot.tooltip.min.js"></script>
  <script src="~/Scripts/plugins/flot/jquery.flot.resize.js"></script>
  <script src="~/Scripts/plugins/flot/jquery.flot.pie.js"></script>
  <script src="~/Scripts/plugins/flot/jquery.flot.time.js"></script>

  <!-- Flot data -->
  <script type="text/javascript">
    var barOptions = {
      series: {
        lines: {
          show: true,
          fill: false,
        },
        points: { show: true }
      },
      xaxis: {
        tickFormatter: formatXaxis
      },
      colors: ["#1ab394"],
      grid: {
        color: "#999999",
        hoverable: true,
        tickColor: "#D4D4D4",
        borderWidth: 0
      },
      legend: {
        //position: 'sw'
        show: false
      },
      tooltip: true,
      tooltipOpts: {
        content: "%x, %y"
      }
    };

    function formatXaxis(n) {
      var d = new Date();
      d.setTime(n);
      return d.getFullYear() + '/' + (d.getMonth() + 1) + '/' + d.getDate();
    }

    //Line
    $(function () {
      loadChart('Weight');
    });

    function loadChart(type) {
      $.ajax({
        type: 'post',
        dataType: 'json',
        url: '/BodyCircumference/Load' + type + 'Data',// + type+'Data',
        success: function (res) {
          setChart(type, res);
        },
        error: function () {
          alert(type + ' ajax请求失败');
        }
      });
    }

    function setChart(type, res) {
      var array = [];
      for (var i = 0; i < res.data.data.length; i++) {
        var arrUnit = [res.data.data[i].ticks, res.data.data[i].value];
        array.push(arrUnit);
      }

      var barData = {
        label: '',
        data: []
      };
      barData.label = res.data.legend;
      barData.data = array;

      $.plot($("#chart" + type), [barData], barOptions);
    }

  </script>
}

