
@{
  ViewBag.Title = "Chart";
}

@*<div id="wrapper">
  <div id="page-wrapper" class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">*@
<div class="row">
  <div class="col-lg-12">
    <div class="tabs-container">
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#tab-1">体重</a></li>
        <li class="" onclick=""><a data-toggle="tab" href="#tab-2">上臂围</a></li>
        <li class="" onclick=""><a data-toggle="tab" href="#tab-3">下臂围</a></li>
        <li class="" onclick=""><a data-toggle="tab" href="#tab-4">胸围</a></li>
        <li class="" onclick=""><a data-toggle="tab" href="#tab-5">腰围</a></li>
        <li class="" onclick=""><a data-toggle="tab" href="#tab-6">臀围</a></li>
        <li class="" onclick=""><a data-toggle="tab" href="#tab-7">大腿围</a></li>
        <li class="" onclick=""><a data-toggle="tab" href="#tab-8">小腿围</a></li>
      </ul>
      <div class="tab-content">
        <div id="tab-1" class="tab-pane active">
          <div class="panel-body">
            <div class="ibox-content">
              <div class="flot-chart">
                <div class="flot-chart-content" id="chartWeight"></div>
              </div>
            </div>
          </div>
        </div>
        <div id="tab-2" class="tab-pane">
          <div class="panel-body">
            <div class="ibox-content">
              <div class="flot-chart">
                <div class="flot-chart-content" id="chartUpperArm"></div>
              </div>
            </div>
          </div>
        </div>
        <div id="tab-3" class="tab-pane">
          <div class="panel-body">
            <div class="ibox-content">
              <div class="flot-chart">
                <div class="flot-chart-content" id="chartLowerArm"></div>
              </div>
            </div>
          </div>
        </div>
        <div id="tab-4" class="tab-pane">
          <div class="panel-body">
            <div class="ibox-content">
              <div class="flot-chart">
                <div class="flot-chart-content" id="chartChest"></div>
              </div>
            </div>
          </div>
        </div>
        <div id="tab-5" class="tab-pane">
          <div class="panel-body">
            <div class="ibox-content">
              <div class="flot-chart">
                <div class="flot-chart-content" id="chartWaist"></div>
              </div>
            </div>
          </div>
        </div>
        <div id="tab-6" class="tab-pane">
          <div class="panel-body">
            <div class="ibox-content">
              <div class="flot-chart">
                <div class="flot-chart-content" id="chartHip"></div>
              </div>
            </div>
          </div>
        </div>
        <div id="tab-7" class="tab-pane">
          <div class="panel-body">
            <div class="ibox-content">
              <div class="flot-chart">
                <div class="flot-chart-content" id="chartUpperLeg"></div>
              </div>
            </div>
          </div>
        </div>
        <div id="tab-8" class="tab-pane">
          <div class="panel-body">
            <div class="ibox-content">
              <div class="flot-chart">
                <div class="flot-chart-content" id="chartLowerLeg"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
@*</div>
    </div>
  </div>*@

@section FooterScript{
  <!-- Flot -->
  <script src="~/Scripts/plugins/flot/jquery.flot.js"></script>
  <script src="~/Scripts/plugins/flot/jquery.flot.tooltip.min.js"></script>
  <script src="~/Scripts/plugins/flot/jquery.flot.resize.js"></script>
  <script src="~/Scripts/plugins/flot/jquery.flot.pie.js"></script>
  <script src="~/Scripts/plugins/flot/jquery.flot.time.js"></script>

  <!-- Flot data -->
  <script type="text/javascript">
    var arr = [[1167692400000, 61.05],
    [1167778800000, 58.32], [1167865200000, 57.35],
    [1167951600000, 56.31], [1168210800000, 55.55],
    [1168297200000, 55.64], [1168383600000, 54.02],
    [1168470000000, 51.88], [1168556400000, 52.99],
    [1168815600000, 52.99], [1168902000000, 51.21],
    [1168988400000, 52.24], [1169074800000, 50.48],
    [1169161200000, 51.99], [1169420400000, 51.13]];

    var barOptions = {
      series: {
        lines: {
          show: true,
          fill: false,
        },
        points: { show: true }
      },
      xaxis: {
        tickFormatter: formatXaxis
      },
      colors: ["#1ab394"],
      grid: {
        color: "#999999",
        hoverable: true,
        tickColor: "#D4D4D4",
        borderWidth: 0
      },
      legend: {
        position: 'sw'
      },
      tooltip: true,
      tooltipOpts: {
        content: "x: %x, y: %y"
      }
    };

    var barData = {
      label: "腰围",
      data: arr
    };
    function formatXaxis(n) {
      var d = new Date();
      d.setTime(n);
      return d.getFullYear() + '/' + d.getMonth() + 1 + '/' + d.getDate();
    }

    //Line
    $(function () {
      //for (var i = 0; i < 5; i++) {
      //  var arr1 = [i+1, i+30];
      //  arr.push(arr1);
      //}
      //$.plot($("#chartWeight"), [barData], barOptions);
      //$.plot($("#chartUpperArm"), [barData], barOptions);
      //$.plot($("#chartLowerArm"), [barData], barOptions);
      //$.plot($("#chartChest"), [barData], barOptions);
      //$.plot($("#chartWaist"), [barData], barOptions);
      //$.plot($("#chartHip"), [barData], barOptions);
      //$.plot($("#chartUpperLeg"), [barData], barOptions);
      //$.plot($("#chartLowerLeg"), [barData], barOptions);
      loadChart('Weight');
    });

    function loadChart(type) {
      $.ajax({
        type: 'post',
        dataType: 'json',
        url: '/BodyCircumference/LoadWeightData',// + type+'Data',
        success: function (res) {
          setChart(type, res);
        },
        error: function () {
          alert(type + ' ajax请求失败');
        }
      });
    }

    function setChart(type, res) {
      var array;
      for (var i = 0; i < res.data.data.length; i++) {
        var arrUnit = [res.data.data[i].ticks, res.data.data[i].value];
        array.push(arrUnit);
      }
      var barData1;
      barData1.label = res.legend;
      barData1.data = array;
      $.plot($("#chartWeight"), [barData1], barOptions);
    }

  </script>
}

