
@{
  ViewBag.Title = "Sechedule";
}

<div class="row">
  <div class="col-sm-1"></div>
  <div class="row animated fadeInDown col-sm-10">
    <div class="ibox float-e-margins">
      <div class="ibox-content">
        <div id="calendar"></div>
      </div>
    </div>
  </div>
</div>

@section FooterScript{
  <script src="~/Scripts/plugins/fullcalendar/moment.min.js"></script>
  <!-- jQuery UI custom -->
  <script src="~/Scripts/jquery-ui.custom.min.js"></script>
  <!-- Full Calendar -->
  <script src="~/Scripts/plugins/fullcalendar/fullcalendar.min.js"></script>

  <script>

    $(document).ready(function () {
      /* initialize the calendar------------------------------------------*/
      var date = new Date();
      var d = date.getDate();
      var m = date.getMonth();
      var y = date.getFullYear();
      $('#calendar').fullCalendar({
        header: {
          left: 'prev,next today',
          center: 'title',
          right: ''
        },
        editable: false,
        monthNames: ['一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月'],
        dayNames: ['日', '一', '二', '三', '四', '五', '六'],
        dayNamesShort: ['日', '一', '二', '三', '四', '五', '六'],
        buttonText: {
          today: '今天'
        },
        events: function (start, end, timezone, callback) {
          $.ajax({
            url: "/Plan/GetSechedule",
            type: 'post',
            data: {
              start: start.toJSON(),
              end: end.toJSON()
            },
            success: function (res) {
              var events = [];
              for (var i = 0; i < res.data.length; i++) {
                var obj = res.data[i];
                var title = obj.title;
                var start = obj.start;
                var color = obj.color;
                events.push({
                  title: title,
                  start: start,
                  color: color,
                  allDay: true
                });
              }
              callback(events);
            },
            error: function () {
              alert('events-ajax请求失败')
            }
          })
        }
      });

      //$('#li2').addClass("active");
      //$('#li2').toggle();
    });

  </script>
}

