
@{
  ViewBag.Title = "Sechedule1";
}
<div class="row">
  <div class="col-sm-1"></div>
  <div class="row animated fadeInDown col-sm-10">
    <div class="ibox float-e-margins">
      <div class="ibox-content">
        <div id="calendar"></div>
      </div>
    </div>
  </div>
</div>

@section FooterScript{
  <script src="~/Scripts/plugins/fullcalendar/moment.min.js"></script>
  <!-- jQuery UI custom -->
  <script src="~/Scripts/jquery-ui.custom.min.js"></script>
  <!-- Full Calendar -->
  <script src="~/Scripts/plugins/fullcalendar/fullcalendar.min.js"></script>

  <script>

    $(document).ready(function () {


      /* initialize the calendar
       -----------------------------------------------------------------*/
      var date = new Date();
      var d = date.getDate();
      var m = date.getMonth();
      var y = date.getFullYear();

      $('#calendar').fullCalendar({
        header: {
          left: 'prev,next today',
          center: 'title',
          right: ''
        },
        editable: false,
        droppable: true, // this allows things to be dropped onto the calendar
        events: function (start, end, callback) {
          $.ajax({
            url: "/Plan/Sechedule",
            type:'post',
            success: function (res) {
              var events = [];
              for (var i = 0; i < res.data.length; i++) {
                var obj = res.data[i];
                var title = obj.title;
                var evtstart = obj.start;
                events.push({
                  title: title,
                  start: evtstart
                });
              }
              callback(events);
            },
            error: function () {
              alert('sdf')
            }
          })
        }  
      });
    });

  </script>
}

