
@{
    ViewBag.Title = "SetCycleDays | Fit";
}
@model int

<div class="row">
  <div class="col-sm-12">
    <div class="ibox float-e-margins">
      <div class="ibox-content">
        <form class="m-t" role="form" action="/Plan/SetCycleDays" method="post">
          <div class="form-group">
            <label>设置循环天数</label>
            <select class="form-control m-b" name="cycleDays">
              @{
                for (int i=1;i<=Model;i++)
                {
                  <option value="@i">@i</option>
                }
              }
            </select>
          </div>
          <input type="submit" class="btn btn-primary block full-width m-b" value="确认设置">
        </form>
      </div>
    </div>
  </div>
</div>

