
@{
  ViewBag.Title = "AdminUser | Add";
}

<div class="row">
  <div class="col-sm-12">
    <div class="ibox float-e-margins">
      <div class="ibox-content">
        <form class="m-t" role="form" id="formAdd">
          <div class="form-group">
            <label>邮箱</label>
            <input type="email" class="form-control" name="Email" required="" pattern=@Html.Raw("^([0-9a-zA-Z]+)@([0-9a-zA-Z])+.([0-9a-zA-Z])+") title="电子邮件地址">
          </div>
          <div class="form-group">
            <label>名称</label>
            <input type="text" class="form-control" name="Name" required="">
          </div>
          <div class="form-group">
            <label>电话</label>
            <input type="text" class="form-control" name="PhoneNum" required="">
          </div>
          <div class="form-group">
            <label>新密码</label>
            <input type="password" class="form-control" name="PassWord" required="" pattern="^.{6,}" title="密码必须大于等于6位">
          </div>
          <div class="form-group">
            <label>再次输入新密码</label>
            <input type="password" class="form-control" name="PasswordComfirm" required="" pattern="^.{6,}" title="密码必须大于等于6位">
          </div>
          <input id="btnSave" type="submit" class="btn btn-primary block full-width m-b" value="保存">
        </form>
      </div>
    </div>
  </div>
</div>

@section FooterScript{
  <script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
  <script type="text/javascript">
    var options = {
      success: function (response) {
        execResponse(response);
      },
      url: "/AdminUser/Add",
      type: "post"
    };

    $("#formAdd").submit(function () {
      $(this).ajaxSubmit(options);
      return false;
    });

    function execResponse(res) {
      if (res.status == "ok") {
        location.href = "/AdminUser/List";
      } else {
        alert(res.msg);
      }
    }
  </script>
}
