
@{
  ViewBag.Title = "Motion | Add";
}

@model List<Fit.DTO.MuscleGroupDTO>
<div class="row">
  <div class="col-sm-12">
    <div class="ibox float-e-margins">
      <div class="ibox-content form-horizontal">
        <div class="form-group">
          <label class="col-sm-2 control-label">动作类型</label>
          <div class="col-sm-6">
            <div class="i-checks"><label> <input type="radio" id="radioPartial" value="partial" name="motionType">&nbsp;&nbsp;局部训练</label></div>
            <div class="i-checks"><label> <input type="radio" id="radioCombine" value="combine" name="motionType">&nbsp;&nbsp;综合训练</label></div>
          </div>
        </div>
        <div class="hr-line-dashed"></div>
        <div id="partialDiv" class="form-group">
          <div class="col-sm-6">
            <select class="form-control m-b" name="muscleGroup" onchange="muscleGroupChanged()">
              @{
                foreach (var item in Model)
                {
                  <option value="@item.Id">@item.Name</option>
                }
              }
            </select>

          </div>
          <div class="col-sm-6">
            <select class="form-control m-b" name="muscle">
              <option value="0">请选择肌肉...</option>
            </select>
          </div>
        </div>
        <div id="partialDash" class="hr-line-dashed"></div>
        <div class="form-group">
          <label>名称</label>
          <input type="text" class="form-control" name="name" required="" title="请输入名称">
        </div>
        <div class="form-group">
          <label>描述</label>
          <input type="text" class="form-control" name="description">
        </div>
        <div class="hr-line-dashed"></div>
        <div class="form-group">
          <label>动作介绍</label>
          <textarea class="form-control" name="motionDetail"></textarea>
          <br />
          <form id="formMotionDetail" enctype="multipart/form-data">
            <label title="Upload image file" for="btnUploadMotionDetail" class="btn btn-white">
              <input type="file" accept="image/*" name="imgMotionDetail" id="btnUploadMotionDetail" class="hide">
              添加动作介绍图片
            </label>
          </form>
          <div>
            <div class="file-box">
              <div class="file">
                <a href="modal-form" data-toggle="modal">
                  <div class="image">
                    <img alt="image" class="img-responsive" src="/1.png">
                  </div>
                  <div class="file-name">
                    <span>点击图片以删除</span>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="form-group">
          <label>动作要点</label>
          <textarea class="form-control" name="motionMainPoint"></textarea>
          <br />
          <form id="formAdd" method="post" action="/UploadTest/Upload/1" enctype="multipart/form-data">
            <label title="Upload image file" for="inputImage" class="btn btn-white">
              <input type="file" accept="image/*" name="file1" id="inputImage" class="hide">
              添加动作要点图片
            </label>
          </form>
          <div>
            <div class="file-box">
              <div class="file">
                <a href="modal-form" data-toggle="modal">
                  <div class="image">
                    <img alt="image" class="img-responsive" src="1.png">
                  </div>
                  <div class="file-name">
                    <span>点击图片以删除</span>
                  </div>
                </a>
              </div>
            </div>
            <div class="file-box">
              <div class="file">
                <a href="modal-form" data-toggle="modal">
                  <div class="image">
                    <img alt="image" class="img-responsive" src="1.png">
                  </div>
                  <div class="file-name">
                    <span>点击图片以删除</span>
                  </div>
                </a>
              </div>
            </div>
            <div class="file-box">
              <div class="file">
                <a href="modal-form" data-toggle="modal">
                  <div class="image">
                    <img alt="image" class="img-responsive" src="1.png">
                  </div>
                  <div class="file-name">
                    <span>点击图片以删除</span>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="form-group">
          <label>注意事项</label>
          <textarea class="form-control" name="motionAttention"></textarea>
          <br />
          <form id="formAdd" method="post" action="/UploadTest/Upload/1" enctype="multipart/form-data">
            <label title="Upload image file" for="inputImage" class="btn btn-white">
              <input type="file" accept="image/*" name="file1" id="inputImage" class="hide">
              添加注意事项图片
            </label>
          </form>
          <div>
            <div class="file-box">
              <div class="file">
                <a href="modal-form" data-toggle="modal">
                  <div class="image">
                    <img alt="image" class="img-responsive" src="1.png">
                  </div>
                  <div class="file-name">
                    <span>点击图片以删除</span>
                  </div>
                </a>
              </div>
            </div>
            <div class="file-box">
              <div class="file">
                <a href="modal-form" data-toggle="modal">
                  <div class="image">
                    <img alt="image" class="img-responsive" src="1.png">
                  </div>
                  <div class="file-name">
                    <span>点击图片以删除</span>
                  </div>
                </a>
              </div>
            </div>
            <div class="file-box">
              <div class="file">
                <a href="modal-form" data-toggle="modal">
                  <div class="image">
                    <img alt="image" class="img-responsive" src="1.png">
                  </div>
                  <div class="file-name">
                    <span>点击图片以删除</span>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="form-group">
          <div class="col-sm-1 pull-right">
            <button class="btn btn-primary" onclick="onSave()">保存</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

@section FooterScript{

  @*<link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="~/Content/animate.css" rel="stylesheet">
    <link href="~/Content/style.css" rel="stylesheet">
    <!-- Toastr style -->
    <link href="~/Content/plugins/toastr/toastr.min.css" rel="stylesheet">
    <!-- Gritter -->
    <link href="~/Scripts/plugins/gritter/jquery.gritter.css" rel="stylesheet">
    <link href="~/Content/animate.css" rel="stylesheet">
    <link href="~/Content/style.css" rel="stylesheet">
    <!-- FooTable -->
    <link href="~/Content/plugins/footable/footable.core.css" rel="stylesheet">
    <!--iCheck-->
    <link href="~/Content/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="~/Content/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet">
    <!-- Mainly scripts -->
    <script src="~/Scripts/jquery-2.1.1.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.form.js"></script>
    <script src="~/Scripts/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="~/Scripts/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <!-- Custom and plugin javascript -->
    <script src="~/Scripts/inspinia.js"></script>
    <script src="~/Scripts/plugins/pace/pace.min.js"></script>
    <!-- FooTable -->
    <script src="~/Scripts/plugins/footable/footable.all.min.js"></script>
    <!-- iCheck -->
    <script src="~/Scripts/plugins/iCheck/icheck.min.js"></script>*@
  <script>

    function muscleGroupChanged() {
      var muscleGroupId = $("[name='muscleGroup']").val();
      $.ajax({
        url: "/Motion/LoadMuscle",
        type: "post", dataType: "json",
        data: { id: muscleGroupId },
        success: loadMuscles,
        error: function () {
          alert('加载肌肉列表时出错');
        }
      });
    }

    function loadMuscles(res) {
      if (res.status == "ok") {
        $("[name='muscle']").empty();
        for (var i = 0; i < res.data.length; i++) {
          var item = res.data[i];
          $(" <option value='" + item.id + "'>" + item.name + "</option>")
            .appendTo("[name='muscle']");
        }
      }
    }

    function setVisibilityByMotionType(motionType) {
      if (motionType == 'partial') {
        $("#partialDiv").show();
        $("#partialDash").show();
      } else if (motionType == 'combine') {
        $("#partialDiv").hide();
        $("#partialDash").hide();
      }
    }

    function onSave() {
      var motionType = $("[name='motionType']").val();
      var muscleId = $("[name='muscle']").val();
      var motionName = $("[name='name']").val();
      var motionDescription = $("[name='description']").val();
      var motionDetail = $("[name='motionDetail']").val();
      var motionMainPoint = $("[name='motionMainPoint']").val();
      var motionAttention = $("[name='motionAttention']").val();

      if (motionName == null || motionName == undefined || motionName == '') {
        $("[name='name']").focus();
        return;
      }

      $.ajax({
        url: "/Motion/Add",
        type: "post",
        data: {
          motionType: motionType,
          muscleId: muscleId,
          name: motionName,
          description: motionDescription,
          detail: motionDetail,
          mainPoint: motionMainPoint,
          attention: motionAttention
        },
        success: function (res) {
          if (res.status == 'ok') {
            location.href = "/Motion/List"
          } else if (res.status == 'error') {
            alert(res.msg);
          }
        },
        error: function () {
          alert("保存失败！");
        }
      });
    }

    var options = {
      success: function (response) {
        execResponse(response);
      },
      error: function () {
        alert('form error');
      },
      url: "/Motion/UploadImg",
      type: "post",
      data: {
        motionID: 2,
        type: 1
      }
    };

    $("#formMotionDetail").submit(function () {
      $(this).ajaxSubmit(options);
      return false;
    });

    function execResponse(res) {
      if (res.status == "ok") {
        alert("refresh");
      } else {
        alert(res.msg);
      }
    };

    $(document).ready(function () {
      $('.i-checks').iCheck({
        checkboxClass: 'icheckbox_square-green',
        radioClass: 'iradio_square-green',
      });
      $("[name='motionType']").on("ifChecked", function (e) {
        var motionType = $(e.target).val();
        setVisibilityByMotionType(motionType);
      });
      $("#radioCombine").iCheck("check");
      $("#btnUploadMotionDetail").change(function () {
        alert("change");
        $("#formMotionDetail").submit();
      });
    });
  </script>
}
