@{
  ViewBag.Title = "ChangePwd | Fit";
  Layout = null;
}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.5">
  <title>@ViewBag.Title</title>
  <link href="~/Content/bootstrap.min.css" rel="stylesheet">
  <link href="~/font-awesome/css/font-awesome.css" rel="stylesheet">

  <link href="~/Content/animate.css" rel="stylesheet">
  <link href="~/Content/style.css" rel="stylesheet">

</head>
<body class="gray-bg">
  <div class="middle-box text-center loginscreen animated fadeInDown">
    <div>
      <div>请输入账号和验证码</div>
      <form class="m-t" role="form" id="formPwd" > 
        <div class="form-group">
          <input type="email" class="form-control" name="email" placeholder="邮箱" required="" pattern=@Html.Raw("^([0-9a-zA-Z]+)@([0-9a-zA-Z])+.([0-9a-zA-Z])+") title="电子邮件地址">
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-sm-6">
              <input class="form-control" name="captcha" type="text" placeholder="验证码" required="" pattern="^[0-9a-zA-Z]+" title="请输入验证码" style="width:150px;">
            </div>
            <div class="col-sm-6">
              <img src="/User/CreateVerifyCode" id="imgVerifyCode" alt="点击获取验证码">
            </div>
          </div>
        </div>
        <input type="submit" class="btn btn-primary block full-width m-b" value="确认">
        <div class="row" style="color:red" id="msg"></div>
</form>
    </div>
  </div>
</body>
</html>
<!-- Mainly scripts -->
<script src="~/Scripts/jquery-2.1.1.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery.form.js"></script>
<script src="~/Scripts/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="~/Scripts/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<!-- Custom and plugin javascript -->
<script src="~/Scripts/inspinia.js"></script>

<script type="text/javascript">
  $(function () {
    $("#imgVerifyCode").click(function () {
      $("#imgVerifyCode").attr("src", "/User/CreateVerifyCode?" + Math.random());
    });
    var options = {
      success: function (response) {
        showResponse(response);
      },
      url: "/User/ChangePwd1_Captcha",
      type: "post"
    };

    $("#formPwd").submit(function () {
      $(this).ajaxSubmit(options);
      // 为了防止普通浏览器进行表单提交和产生页面导航（防止页面刷新？）返回false
      return false;
    });
    function showResponse(res) {
      if (res.status == "ok") {
        location.href = "/User/ChangePwd2_Email";
      } else {
        $("#imgVerifyCode").click();
        $('#msg').text(res.msg);
      }
    }
  });
</script>






